*{
	margin: 0px;
	padding: 0px;
}
header{
	text-align: center;
	width: 100%;
	height: 150px;
	font-size: 1.5em;
	line-height: 150px;
}
#logo{
	display: inline-block;
	margin-bottom: 0px;
	position: fixed; left: 10px; top: 10px;
}
body{
	font-family: calibri;
	background-color: #F7F2B2;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	font-size: 1.3em;
}
li{
	display: inline-block;
}
a:link, a:visited{
	display: block;
	width: 120px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #77ABD6;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover, a:active{
	background-color: #5F8CA3;
}
section{
	text-align: center;
	border: 4px grey outset;
	border-radius: 10px;
	width: 1000;
	margin-left: 450px;
	margin-right: 450px;
	background-color: #FCFAE1;
}
#presentation{
	width: 1000;
	margin-left: 150px;
	margin-right: 150px;
	padding: 1%;
	border: 2px black ridge;
	border-radius: 10px;
	text-align: left;
	background-color: #C0C1C1;
}