*{
	margin: 0px;
	padding: 0px;
}
header{
	text-align: center;
	width: 100%;
	height: 200px;
	font-size: 1.5em;
	line-height: 200px;
}
#logo{
	display: inline-block;
	margin-bottom: 0px;
	position: center; top: 10px;
}
body{
	font-family: calibri;
	background-image: url('images/plancher.jpg');
	background-attachment: fixed;
	background-repeat: round space;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	font-size: 1.3em;
}
li{
	display: inline-block;
}
a:link, a:visited{
	display: block;
	width: 120px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #77ABD6;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover, a:active{
	background-color: #5F8CA3;
}
section{
	text-align: center;
	border: 4px grey outset;
	border-radius: 10px;
	width: 50%;
	position: absolute;
	margin: auto;
	background-color: #FCFAE1;
	padding: 4px;
	margin-bottom: 5%;
}
#presentation{
	width: 60%;
	position: relative;
	margin-left: 20%;
	margin-bottom: 3%;
	padding: 1%;
	border: 2px black ridge;
	border-radius: 10px;
	text-align: left;
	background-color: #C0C1C1;
}
.presentation{
	width: 60%;
	position: relative;
	margin-left: 20%;
	margin-bottom: 3%;
	padding: 1%;
	border: 2px black ridge;
	border-radius: 10px;
	text-align: left;
	background-color: #C0C1C1;
}
#divchoix{
	border: none;
	width: 100%;
}
#public{
	text-align: center;
	float: left;
	margin-left: 10px;
	width: 32%;
}
#catmere{
	text-align: center;
	float: left;
	margin-left: 10px;
	width: 32%;
}
#niveau{
	text-align: center;
	float: left;
	margin-left: 10px;
	width: 32%;
}
#formulaire{
	width: 60%;
	position: relative;
	margin-left: 20%;
	margin-bottom: 3%;
	padding: 1%;
	border: 2px black ridge;
	border-radius: 10px;
	text-align: left;
	background-color: #C0C1C1;
}
footer{
	background-color: #999087;
	width: 100%;
	height: 25px;
	position: fixed;
	bottom: 0;
	line-height: 25px;
	text-align: center; 
}
#titleprgr{
	text-align: center;
	border: solid;
}
#prgrmm{
	text-align: center;
	position: fixed;
	border: 4px grey outset;
	border-radius: 10px;
	width: 250px;
	height: 50%;
	margin-left: 55%;
	background-color: #FCFAE1;
	padding: 4px;
}
#base{
	margin: auto;
	padding-left: 25%;
	padding-right: 25%;
}
#formcontact{
	margin: 0 auto;
	width: 400px;
	padding: 1em;
	border: 2px solid #000;
	border-radius: 1em;
}
#formcontact div + div{
	margin-top: 1em;
}
label{
	display: inline-block;
	width: 90px;
	text-align: right;
}
input:focus, textarea:focus{
	border-color: #000;
}
textarea{
	vertical-align: top;
	height: 5em;
	resize: vertical;
}
.button{
	padding-left: 90px;
}
button{
	margin-left: .5em;
}